@use "typography" as *;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-padding-top: var(--_navheight, 50px);
    scroll-behavior: smooth;
}

html, body {
    background-color: var(--bg);
    color: var(--text);

    font-family: $fm;
    font-size: $p;
    margin: 0;
}

#app {
    min-height: 100dvh;
}



a {
    text-decoration: none;
    color: var(--text);

    &:hover {
        opacity: .65;
    }
}