@use "../abstracts/" as *;
@use "../base/" as *;

.footer {
    margin: 5em 5em 2.5em;

    .container {
        padding: 1.5em 2.5em;
        border-radius: 10px;
        background-color: var(--text5);

        .title {
            margin: 0 0 1.5em;
            font-size: $h4;
        }

        .copyright {
            font-size: $small;
        }
    }
}


// .footer {
//     // display: flex;
//     // background-color: var(--bg10);
    
//     .container {
//         padding: 1.5em var(--spacing-inline);
//         // box-shadow: $seperator;
//         background-color: var(--primary30);

//         display: flex;
//         flex-direction: column;
//         align-items: center;
        
//         border-top-right-radius: 50px;
//         color: #fff;
//         width: 90%;
//         transition: width .3s ease;

//         @media (max-width: 800px) {
//             width: 100%;
//             border-radius: 0;
//         }
//     }
    
//     a {
//         color: #fff;

//         text-decoration: underline;
//         text-underline-offset: 2px;
//     }
// }