@use "../abstracts" as *;
@use "../base" as *;

#footer {
    min-width: fit-content;
    margin: 2.5em var(--spacing-inline);
    transition: margin .3s ease;
    
    .container {
        border-radius: 10px;
        background-color: var(--text5);
        padding: 1.5em calc(var(--spacing-inline) / 2);
        transition: padding .3s ease;

        .title {
            margin: 0 0 1em;
            font-size: $h4;
        }

        .description {
            max-width: 70ch;
            margin-bottom: 1.5em;
        }

        .copyright {
            font-size: $small;
        }
    }
}