@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.navbar {
    position: sticky;
    z-index: 999;
    top: 0;

    padding-inline: var(--spacing-inline);
    background-color: hsl(var(--bgRaw) / .5);
    backdrop-filter: blur(50px);
    box-shadow: $bs-seperator;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;

    overflow-x: auto;
    scrollbar-width: none;

    .brand {
        font-size: $h3;
    }

    .links {
        display: flex;
        gap: 1em;
        font-size: $h5;
    }

    a {
        text-decoration: none;
    }
}